/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/resources/css/test.css
/bootstrap
/storage
/tests
z-2021_02_16_063940_add_price_to_pizzas_table